# Arquivos compilados
*.class

# Pacotes gerados pela IDE
*.war
*.ear
*.ear-exploded
*.aar
*.sar
*.rar

# Diretórios de dependências
lib/

# Diretório de implantação do servidor WildFly
standalone/deployments/

# Logs e arquivos temporários do servidor WildFly
standalone/log/
standalone/tmp/
standalone/data/
standalone/work/

# Configurações do WildFly
standalone/configuration/standalone.xml
standalone/configuration/standalone-full.xml
standalone/configuration/standalone-ha.xml
standalone/configuration/standalone-full-ha.xml

# Arquivos gerados pelo Maven
target/

# Outros arquivos gerados
.DS_Store
*.log
*.bak

# Arquivos de configuração de IDEs específicas (opcional - adicionado se necessário)
/.idea/
/.vscode/
